<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login" verbose="1">
    <test name="Regression">
        <classes>
            <class name="testcase.LoginTestcase">
                <methods>
                    <include name="loginUnsuccess"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>